* {
	font-family: OpenSans;
}

html,
body {
	height: 100%;
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
}

main {
	display: table-row;
	height: 100%;
}

.container {
	display: table;
 	height: 100%;
	width: 1060px;
	margin: 0 auto;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
	padding: 0 46px;
	box-sizing: border-box;
	padding-top: 50px;
	background-color: #fff;
}

header {
	margin-bottom: 40px;
}

.logo {
	display: inline-block;
	margin-bottom: 40px; 
}

.main-nav,
.main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav {
	height: 40px;
	line-height: 40px;
	background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
}

.main-nav li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 0 35px;
	text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

.main-nav li a:hover {
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
}

.right-box {
	float: right;
	width: 680px;
	height: 400px;
	margin-bottom: 40px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	text-align: center;
	line-height: 400px;
}

.right-box img {
	width: 500px;
	height: 307px;
	vertical-align: middle;
}

.right-box2 {
	float: right;
	width: 680px;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 60px;
}

.right-box2 p {
	line-height: 1.6;
	font-size: 13px;
	color: rgb(44, 44, 44);
}

.left-box {
	float: left;
	width: 240px;
	border: 1px solid #c8c8c8; 
}

.left-box,
.left-box li {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	line-height: 40px;
}

.left-box li {
	border-bottom: 1px solid #c8c8c8;
}

.left-box a {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	padding-left: 24px;
	color: #656363;
}

.left-box li:hover {
	background-color: #f9f9f9;
}

.left-box li a:hover {
	padding-left: 36px;
	color: #2c2c2c;
}

.left-box li:last-child {
	border-bottom: none;
}

.footer {
	display: block;
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	background-color: white;
    background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
}

.footer li {
	display: inline-block;
	padding: 0 90px 0 0;
}

.footer li a {
	display: inline-block;
	text-decoration: none;
	color: #2c2c2c;
}

.footer a:hover {
	text-decoration: underline;

}

.footer ul {
	float: left;
}

.copyright {
	float: right;
}